<div class="container">
    <h3>Enter your details</h3>

    <p>Never miss an update!</p>

    <form name="userForm" ng-submit="submit()" ng-controller="HomeController" novalidate>
        <div class="form-group" validate-input>
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Name" ng-model="user.name"
                   required>

            <div ng-messages="userForm.name.$error" ng-if="userForm.name.$dirty">
                <p ng-message="required">Please enter a name</p>
            </div>
        </div>

        <div class="form-group" validate-input>
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Email" ng-model="user.email" required>

            <div ng-messages="userForm.email.$error" ng-if="userForm.email.$dirty">
                <p ng-message="required">Please enter an email address</p>
            </div>
        </div>

        <button type="submit" class="btn btn-success" ng-disabled="userForm.$invalid">Submit</button>
    </form>
</div>